@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/pontanosans/v19/qFdW35GdgYR8EzR6oBLDHa3wyRf8W8eBM6XLOXLMncY.ttf) format('truetype');
}
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/s/pontanosans/v19/qFdW35GdgYR8EzR6oBLDHa3wyRf8W8eBM6XLOZXLncY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/tenorsans/v21/bx6ANxqUneKx06UkIXISr3I.ttf) format('truetype');
}
